*

!*/
!.gitignore
!*.d
!Makefile
!*.md
!*.cu
!*.sh
!.travis.yml
!dub.json
!tmp/*.ptx
!dcompute/*
!style.css
!skeleton.html

dub.selections.json
generated-docs
adrdox/
.dub
docs.json
__dummy.html
docs/
*.exe
*.o
*.obj
*.lst
.#*
