*

!*.ipynb
!*/
!.gitignore
!*.d
!kernel/*.di
!Makefile
!*.md
!*.cu
!*.sh
!.travis.yml
!dub.json
!tmp/*.ptx
!dcompute/*
!style.css
!skeleton.html
!LICENSE

hdf5-*/
warp-ctc/

.ipynb_checkpoints
dub.selections.json
generated-docs
adrdox/
.dub
docs.json
__dummy.html
docs/
*.exe
*.o
*.obj
*.lst
.#*
env.sh
